<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Patients:</h4>
<div class="col-6">
    <h3 th:unless="${patients} and ${patients.size()}">There are no patients!</h3>
    <table th:if="${patients.size()>0}" class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PIN</th>
            <th>Insurance Paid Date</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.pin}"></td>
            <td th:text="${patient.paidInsuranceDate}"></td>
            <td>
                <a class="btn btn-info" th:href="@{'/patients/edit-patient/'+${patient.id}}">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{'/patients/delete/'+${patient.id}}">Delete</a>
            </td>
            <td>
                <a th:href="@{/patients/{id}/info(id=${patient.id})}" class="btn btn-info">Info</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-6 mt-3">
    <a class="btn btn-primary" th:href="@{/patients/create-patient}">Add New Patient</a>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
