<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Diagnoses:</h4>
<div class="col-6">
    <h3 th:unless="${diagnoses} and ${diagnoses.size()}">There are no diagnoses!</h3>
    <table th:if="${diagnoses.size()>0}" class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="diagnosis : ${diagnoses}">
            <td th:text="${diagnosis.id}"></td>
            <td th:text="${diagnosis.name}"></td>
            <td>
                <a class="btn btn-info" th:href="@{'/diagnoses/edit-diagnosis/'+${diagnosis.id}}">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{'/diagnoses/delete/'+${diagnosis.id}}">Delete</a>
            </td>
            <td>
                <a th:href="@{/diagnoses/{id}/info(id=${diagnosis.id})}" class="btn btn-info">Info</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-6 mt-3">
    <a class="btn btn-primary" th:href="@{/diagnoses/create-diagnosis}">Add New Diagnosis</a>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
