<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Edit Diagnosis</h4>
<div class="col-6">
    <form action="#" th:action="@{/diagnoses/update/{id}(id=${diagnosis.id})}" th:object="${diagnosis}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="btn btn-secondary" th:href="@{/diagnoses}">Cancel</a>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
