<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container mt-4">
    <h4>All Exams</h4>
    <div class="col-12">
        <h3 th:unless="${exams} and ${exams.size()}">There are no exams!</h3>
        <table th:if="${exams.size() > 0}" class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Diagnosis</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exam : ${exams}">
                <td th:text="${exam.date != null ? exam.date : 'N/A'}"></td>
                <td th:text="${exam.doctorName != null ? exam.doctorName : 'Not Assigned'}"></td>
                <td th:text="${exam.patientName != null ? exam.patientName : 'Not Assigned'}"></td>
                <td th:text="${exam.diagnosisName != null ? exam.diagnosisName : 'Not Assigned'}"></td>
                <td>
                    <a th:href="@{'/exams/edit-exam/' + ${exam.id}}" class="btn btn-info">Edit</a>
                    <a th:href="@{'/exams/delete/' + ${exam.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-6 mt-3">
    <a class="btn btn-primary" th:href="@{/exams/create-exam}">Add New Exam</a>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
